@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');

@import url('../CSS/normalize.css');

body{
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
.aa-button:active, .aa-section2-button:active, .aa-headbutton:active{
  transform: scale(0.99);
}
.aa-content{
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
  width: 35%;
}
.aa-h1{
  font-size: 80px;
  font-weight: 700;
  margin-top: 0;
}
.aa-button{
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-color: #96b92c;
  width: 170px;
  height: 55px;
  border: none;
  outline: none;
}
.aa-content_color{
  color: white;
}
.aa-content_headwidth{
  width: 29%;
}
.aa-content_header{
  position: absolute;
  top:36%;
  left: 8%;
}
.aa-h1header{
  font-size: 60px;
  font-weight: 900;
  width: 290px;
}
.aa-head{
  height: 900px;
  margin-bottom: -15px;
  background-image: url('../IMG/headimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f9f8fb;
  position: relative;
}
.aa-head_logo{
  position: absolute;
  top: 8%;
  left: 8%;
}
.aa-menu{
  position: absolute;
  top: 9.5%;
  right: 8%;
  display: none;
}
.aa-headnav{
  position: absolute;
  top: 9.5%;
  right: 8%;
}
@media screen and (max-width: 900px) {
  .aa-menu{
    display: inline-block;
  }
  .aa-headnav{
    display: none;
  }
}
.aa-link{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  box-sizing: border-box;
  margin-right: 30px;
}
.aa-link:hover{
  border-top: 2px solid #ff6033;
  padding-top: 8px;
}
.aa-headbutton{
  height: 55px;  
  width: 200px;
  background-color: #ff6033;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  margin-top: 5%;
}
.aa-head-scroll{
  position: absolute;
  bottom: 4%;
  left: 49%;
}

.aa-section1{
  height: 650px;
  background-color: #00b2b2;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
.aa-imgsection{
  width: 80%;
  display: block;
  margin-left: 15%;
}
.aa-content_section1{
  margin-right: 8%;
}
@media screen and (max-width: 1180px) {
  .aa-h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .aa-section1{
    flex-direction:column;
  }
  .aa-content_section1{
    font-size: 15px;
    line-height: 20px;
  }
  .aa-imgsection{
    width: 50%;
    margin-left: 21%;
  }
}

.aa-section2{
  height: 730px;
  background-color:#70bfff;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  position: relative;
}
.aa-section2-menu{
  display: flex;
  flex-direction: column;
}
.aa-section2-button{
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  width: 400px;
  height: 100px;
  margin-bottom: 3%;
  position: relative;
  border: none;
  box-shadow:  -3px 2px 10px 1px #44739a;
}
.aa-section-buttonimg{
  position: absolute;
  top: 25%;
  right: 3%;
}
.aa-section2-span{
  position: absolute;
  top: 37%;
  left: 15%;
}
.aa-section2_h1{
  position: absolute;
  top: 35%;
}
@media screen and (max-width: 1180px) {
  .aa-section2_h1 {
    left: 52%;
  }
  .aa-imgsection{
    width: 73%;
  }
}
@media screen and (max-width: 900px){
  .aa-section2{
    flex-direction:column-reverse;
  }
  .aa-section2-button{
    width: 300px;
  }
  .aa-section2_h1{
    top: 5%;
    left: 25%;
  }
  .aa-imgsection{
    width: 50%;
    margin-left: 21%;
  }
}

.aa-section3{
  height: 1500px;
  background-color:#ffe92f;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
}
.aa-content_section3{
  text-align: center;
  width: 50%;
}
.aa_section3-button{
  background-color: #5585a2;
  width: 200px;
}
.aa-gridsectoin3{ 
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 260px 260px 405px;
  grid-gap: 15px;
}
.aa-section3-img1{
  background-image: url(../IMG/img1sec3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}
.aa-section3-img2{
  background-image: url(../IMG/img2sec3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  grid-column: 5 / 7;
}
.aa-section3-img3{
  background-image: url(../IMG/img3sec3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  grid-column: 5 / 7;
}
.aa-section3-img4{
  background-image: url(../IMG/img4sec3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  grid-column: 1 / 4;
}
.aa-section3-img5{
  background-image: url(../IMG/img5sec3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  grid-column: 4 / 7;
}
@media screen and (max-width: 900px) {
  .aa-gridsectoin3{
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 400px 200px 200px;
   grid-gap: 5px;
  }
  .aa-section3-img1{
   grid-column: 1 / 3;
   grid-row: auto;
  }
  .aa-section3-img2{
   grid-column: 1 / 2;
  }
  .aa-section3-img3{
   grid-column: 2 / 3;
  }
  .aa-section3-img4{
   grid-column: 1 / 2;
  }
  .aa-section3-img5{
   grid-column: 2 / 3;
  }
}

.aa-section4{
  height: 480px;
  background-color:white;
  position: relative;
}
.aa-section4-h1{
  font-size: 40px;
  font-weight: bold;
}
.aa-section4-img{
  position: absolute;
  top: 20%;
  right: 3%;
}
.aa-section4-form{
  position: absolute;
  top: 35%;
  left: 11%;
  z-index: 2;
}
.aa-content_sec4{
  width: 55%;
}
.aa-section4-input{
  font-size: 15px;
  color: #a1a1a1;
  padding-left: 15px;
  width: 570px;
  height: 55px;
  outline: none;
  border: 1px solid black;
  box-sizing: border-box;
}
.aa-section4-button{
  box-shadow:  -3px 2px 10px 1px #44739a;
}

.aa-section5{
  height: 800px;
  background-color: #b07cf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.aa-button_sec5{
  background-color: #f72b3b;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.aa-section5-gallery{
  height: 320px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.aa-section5-img{
  width: 30%;
}

.aa-section6{
  height: 820px;
  background-image: url('../IMG/backgsection6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f9f8fb;
}
.aa-section6-content{
  text-align: center;
  padding-top: 6%;
}